// Colors
$secondaryColor: rgba(102, 102, 102, 1);
$primaryColor: rgba(66, 68, 110, 1);

// Sizes

$lagerTitleFullHD: 58px;
$largeTitle768px: 38px;
$largeTitle500px: 38px;
$largeTitle375px: 35px;
$mediumTitleFullHD: 32px;
$mediumTitle768px: 25px;
$mediumTitle500px: 25px;
$mediumTitle375px: 20px;
